name: Build and deploy ASP.Net Core app to Azure Web App with Staging

env:
  AZURE_WEBAPP_NAME: DemoWebSiteWithCICD
  DOTNET_VERSION: '8.0.x'

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - run: dotnet restore
      - run: dotnet build --configuration Release --no-restore
      - run: dotnet publish -c Release -o ./publish
      - uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./publish

  deploy-staging:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Staging'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish
      - name: Deploy to Staging Slot
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: staging
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish

  swap-to-production:
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
      - name: Swap Staging to Production
        uses: azure/cli@v2
        with:
          inlineScript: |
            az webapp deployment slot swap \
              --name ${{ env.AZURE_WEBAPP_NAME }} \
              --resource-group <YourResourceGroupName> \
              --slot staging \
              --target-slot production
